@font-face {
  font-family: "Inter";
  src: url("fonts/Inter.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 550px;
  height: 600px;
  overflow: hidden;
}

#popup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fdf6f6;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.logo {
  width: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.git {
  width: 20px;
  cursor: pointer;
}

#settings {
  position: relative;
  cursor: pointer;
}

#settings-popup {
  position: absolute;
  right: 5px;
  top: 32px;
  width: 220px;
  padding: 16px;
  background-image: linear-gradient(to bottom, #faeaea, #fff);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.253);
  display: flex;
  flex-direction: column;
  gap: 8px;
  display: none;
}

#settings>img {
  width: 25px;
}

.auto-toggle-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.auto-toggle-div>p {
  font-size: 0.8rem;
}

#current-playback {
  padding: 25px 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.actions-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-div>p {
  font-size: 1.1rem;
  font-weight: normal;
}

#capturing-status {
  font-size: 0.9rem;
  font-weight: normal;
}

.playing-status {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.playing-icon {
  width: 25px;
}

#video-title {
  font-size: 0.8rem;
  color: #4b4b4b;
}

.no-playback {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.no-playback p {
  font-size: 1.4rem;
  text-align: center;
}

.no-playback span {
  font-size: 0.8rem;
  text-align: center;
  color: #4b4b4b;
}

.capture-div {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.capture-div>p {
  font-size: 1.2rem;
}

#capture-btn,
#copy-url-btn {
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#capture-btn>img {
  width: 25px;
  height: 25px;
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #feb0b080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #feb0b0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  background-color: #fd6868a0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #feb0b080;
}

input:disabled+.slider {
  background-color: #d2d2d2;
  border: 1px solid transparent;
  cursor: default;
}

input:focus+.slider {
  box-shadow: 0 0 1px #feb0b0;
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: #fd6868;
}

input:disabled+.slider:before {
  background-color: #ffffff;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* timestamps */
.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 385px;
  font-size: 0.9rem;
}

.fallback-img {
  height: 250px;
}

.timestamps-div {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 380px;
  overflow-y: scroll;
}

.timestamp {
  width: 100%;
  display: flex; 
  padding: 5px 10px;
  height: 100px;
  border-radius: 5px;
  background-color: #ffecec;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.15); 
}

.timestamp-left {
  width: 90%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.timestamp-right {
  width: 10%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.timestamp-video-link {
  position: absolute;
  opacity: 0;
}

.timestamp-delete-btn,
.copy-url-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timestamp-delete-btn img,
.copy-url-icon {
  width: 25px;
  height: 25px;
}

.timestamp-key {
  width: 100%;
  font-size: 0.9rem;
}

.video-link {
  text-decoration: none;
  color: black;
}

.video-link:hover {
  text-decoration: underline;
}

.progress-status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2px;
}

.progress-bar {
  height: 5px;
  width: 100%;
  background-color: #eec7c7;
  border-radius: 10px;
}

.progress-completed {
  height: 100%;
  width: 67%;
  background-color: #fd6868;
  border-radius: 10px;
}

.progress-percentage {
  font-size: 0.5rem;
  color: #4b4b4b;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.support {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.support img {
  height: 25px;
}

#footer span {
  font-size: 0.7rem;
}

#footer a {
  /* text-shadow: 0 3px 4px rgba(132, 132, 132, 0.73); */
  text-decoration: none;
  color: #4b4b4b;
}