* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 520px;
  height: 600px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: linear-gradient(45deg, #feb0b026 20%, #ffffff19 80%);
}
*::-webkit-scrollbar {
  display: none;
}

#current-playback {
  padding: 25px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 2px dotted #feb0b0;
}
#current-playback > h1 {
  font-size: 1.5rem;
}
.playing-status {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.playing-status > .playing-icon {
  width: 30px;
  height: 30px;
}
#video-title {
  font-size: 1rem;
}
.no-playback {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
.actions-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 2px dotted #feb0b0;
  height: 50px;
}
.capture-div,
.auto-capture-div {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
}
.capture-div > p,
.auto-capture-div > p {
  font-size: 1.2rem;
}
#capture-btn, #copy-url-btn {
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#capture-btn > img {
  width: 25px;
  height: 25px;
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #feb0b080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #feb0b0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  background-color: #fd6868a0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #feb0b080;
}
input:disabled + .slider {
  background-color: #d2d2d2;
  border: 1px solid transparent;
  cursor: default;
}

input:focus + .slider {
  box-shadow: 0 0 1px #feb0b0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: #fd6868;
}
input:disabled + .slider:before {
  background-color: #ffffff;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* timestamps */
.timestamps-div {
  margin: 20px 0;
  padding: 3px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.timestamp {
  width: 100%;
  display: flex;
}
.timestamp-left {
  width: 85%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timestamp-right {
  width: 15%;
  display: flex;
  height: 75px;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
.timestamp-video-link {
  position: absolute;
  opacity: 0;
}

.timestamp-delete-btn, .copy-url-btn {  
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.timestamp-delete-btn img, .copy-url-icon {
  width: 25px;
  height: 25px;  

}
.timestamp-key,
.timestamp-value {
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.timestamp-key {
  width: 80%;
  padding: 10px 10px;
  border: 2px dotted #feb0b0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.video-link {
  text-decoration: none;
  color: black;
}
.video-link:hover {
  text-decoration: underline;
}
.timestamp-value {
  width: 20%; 
  padding: 10px 5px;
  justify-content: center;
  border: 2px dotted #feb0b0;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.description-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description-div > img {
  width: 90%;
  margin-bottom: 10px;
}

.description-div > p {
  text-align: center;
  font-size: 1rem;
}
.description-highlight {
  color: #fd6868;
  font-weight: bold;
}
